In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from datetime import datetime 
plt.rcParams['figure.figsize']=(5,3)
import os
pd.options.display.float_format = '{:,.2f}'.format

In [7]:
print(os.getcwd())
path = 'C:/Users/limsun/OneDrive - Novelis Inc/Desktop/Git/업무용 code_pandas'
os.chdir(path)
print(os.getcwd())

C:\Users\limsun\OneDrive - Novelis Inc\Desktop\Git
C:\Users\limsun\OneDrive - Novelis Inc\Desktop\Git\업무용 code_pandas

## SCRAP 분류

In [14]:
pd.read_excel('drop_detail_0729.xls').to_pickle('drop_detail_0729.pickle')
pd.read_excel('RF1_detail_0729.xls').to_pickle('rf1_detail_0729.pickle')
pd.read_excel('RF2_detail_0729.xls').to_pickle('rf2_detail_0729.pickle')
drop=pd.read_pickle('drop_detail_0729.pickle')
rf1=pd.read_pickle('rf1_detail_0729.pickle')
rf2=pd.read_pickle('rf2_detail_0729.pickle')

WARNING *** file size (585893) not 512 + multiple of sector size (512)

In [115]:
len(drop.columns)

75

In [116]:
columns=drop.columns
type(columns)

pandas.core.indexes.base.Index

In [271]:
drop.columns=columns.str[-7:-1]

In [276]:
drop=drop.drop(530,axis=0)

In [277]:
drop_sum=drop.sum(axis=0)

In [292]:
df_drop_sum=pd.DataFrame(drop_sum).reset_index()
df_drop_sum=df_drop_sum.rename(columns={'index':'detail',0:'volumn'})
DF_drop_sum=pd.DataFrame(df_drop_sum.groupby('detail')['volumn'].sum()).reset_index()
DF_drop_sum['seg']=0
DF_drop_sum=DF_drop_sum[6:-2].reset_index(drop=True)

### startswith 'MR' 자체만으로도 booliean 으로 인식됨. 따라서 == 필요 없음

In [279]:
DF_drop_sum.loc[DF_drop_sum['detail'] == DF_drop_sum['detail'].str.startswith('MR'),'seg']

Series([], Name: seg, dtype: int64)

In [310]:
DF_drop_sum.loc[DF_drop_sum['detail'].str.startswith('MT'),'seg']='SCRAP'
DF_drop_sum.loc[DF_drop_sum['detail'].str.startswith('MP'),'seg']='PRIME'
DF_drop_sum.loc[DF_drop_sum['detail'].str.startswith('MH'),'seg']='HARDNER'
DF_drop_sum.loc[DF_drop_sum['detail'].str.startswith('MR'),'seg']='RSI'
DF_drop_sum.loc[DF_drop_sum['detail'].isin(['MR0018']),'seg']='RF1_MOLTEN,RSI'
DF_drop_sum.loc[DF_drop_sum['detail'].isin(['MR0027']),'seg']='RF2_MOLTEN,RSI'
DF_drop_sum.loc[DF_drop_sum['detail'].str.startswith('MT0001'),'seg']='RAS'

In [311]:
drop_detail=pd.DataFrame(DF_drop_sum.groupby(['seg'])['volumn'].sum())
drop_detail.reset_index()

              seg       volumn
0         HARDNER   281,907.00
1           PRIME 4,809,945.00
2             RAS 7,409,469.00
3  RF1_MOLTEN,RSI 5,240,780.00
4  RF2_MOLTEN,RSI 2,643,845.00
5             RSI 5,502,347.00
6           SCRAP   117,245.00

In [145]:
#a=np.transpose(a)