## SCRAP sorting comparision

In [38]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from datetime import datetime 
plt.rcParams['figure.figsize']=(10,8)
import os
pd.options.display.float_format = '{:,.2f}'.format

In [135]:
df=pd.read_csv('//YEJNAPWVAGWAP02/Log/BTU_LOG.csv')
print(os.getcwd())

C:\Users\limsun\PRACTICE\lego

In [137]:
df.loc[df['BATCHID']=='S42465','Scrap_kg'].max()

2705.0

In [12]:
df.tail(3)

,Seq,_Timestamp,MachineName,BATCHID,CASTTYPE,Alloy,BathTemp,Molten_Weight,Prime_Weight,RSI_Weight,...,Max_MP,FceTemp,theo_q_total,theo_q_solid,Main_Door_Open,Roof_Door_Open,Start_Flue_Temp,casttype,pct_cold,air_gas_ratio_std
131170,540,2020-07-28 15:46:00,Melter3,S43310-1,Dual,5182.0,0.0,17637.0,2248.7,8024.8,...,100,988.907227,1.457240e+07,7.682903e+06,0,720,364,1,0.597180,10.335428
131171,540,2020-07-28 15:46:00,Melter4,S43310,Dual,5182.0,0.0,18298.4,2248.7,20458.9,...,100,724.800659,1.459754e+07,7.449684e+06,3360,180,829,1,0.580808,7.117005
131172,540,2020-07-28 15:46:00,Melter4,S43310,Dual,5182.0,0.0,18298.4,2248.7,20458.9,...,100,724.800659,1.459754e+07,7.449684e+06,3360,180,829,1,0.580808,7.117005

In [8]:
df.columns

Index(['Seq', '_Timestamp', 'MachineName', 'BATCHID', 'CASTTYPE', 'Alloy',
       'BathTemp', 'Molten_Weight', 'Prime_Weight', 'RSI_Weight',
       'Scrap_Weight', 'Total_Weight', 'Requrited_BTU', 'Target_BTU',
       'Min_BTU', 'Max_BTU', 'Date', 'Time', 'MainDoor_Status',
       'RoofDoor_Status', 'MF_FUEL_TOT', 'ACTUAL_BTU', 'mf_fuel_sum',
       'Total_Melting_Time', 'MeltingProgress', 'CycleTime', 'Molten_kg',
       'Prime_kg', 'Scrap_kg', 'RSI_kg', 'TOTAL_WEIGHT_kg', 'Target_MP',
       'Min_MP', 'Max_MP', 'FceTemp', 'theo_q_total', 'theo_q_solid',
       'Main_Door_Open', 'Roof_Door_Open', 'Start_Flue_Temp', 'casttype',
       'pct_cold', 'air_gas_ratio_std'],
      dtype='object')

In [109]:
df1=df[['_Timestamp','Date','MachineName','BATCHID','Alloy','casttype','Start_Flue_Temp','ACTUAL_BTU','Requrited_BTU','MeltingProgress','TOTAL_WEIGHT_kg','Prime_kg','Molten_kg','RSI_kg','Scrap_kg']]

In [110]:
df1.sort_values(by=['MachineName','BATCHID','_Timestamp'],inplace=True)

C:\Users\limsun\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [111]:
log_scrap=df1[['_Timestamp','MachineName','BATCHID','Alloy','casttype','TOTAL_WEIGHT_kg','Prime_kg','Molten_kg','RSI_kg','Scrap_kg']]

In [112]:
log_scrap['cold_total']=log_scrap['Prime_kg']+log_scrap['Molten_kg']+log_scrap['RSI_kg']+log_scrap['Scrap_kg']

C:\Users\limsun\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [113]:
log_scrap.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131266 entries, 21071 to 131184
Data columns (total 11 columns):
_Timestamp         131266 non-null object
MachineName        131266 non-null object
BATCHID            118024 non-null object
Alloy              117988 non-null float64
casttype           131266 non-null int64
TOTAL_WEIGHT_kg    129019 non-null float64
Prime_kg           129019 non-null float64
Molten_kg          129019 non-null float64
RSI_kg             129019 non-null float64
Scrap_kg           129019 non-null float64
cold_total         129019 non-null float64
dtypes: float64(7), int64(1), object(3)
memory usage: 12.0+ MB

In [114]:
log_scrap['_Timestamp']=pd.to_datetime(log_scrap['_Timestamp'])
log_scrap_jul=log_scrap.loc[log_scrap['_Timestamp'].dt.month.isin([7])]
log_scrap_jul=log_scrap_jul.loc[log_scrap_jul['_Timestamp'].dt.day.isin([13,14,15,16,17,18,19,20,21,22,23,24,25,26])]

C:\Users\limsun\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
log_scrap_jul.groupby('BATCHID').first().head(3)

,_Timestamp,MachineName,Alloy,casttype,TOTAL_WEIGHT_kg,Prime_kg,Molten_kg,RSI_kg,Scrap_kg,cold_total,TOTAL-MOLTNE
BATCHID,,,,,,,,,,,
S42464,2020-07-13 00:01:00,Melter4,"5,182.00",1,"13,020.00","1,020.00",0.00,"6,000.00","6,000.00","13,020.00","13,020.00"
S42464-1,2020-07-13 00:01:00,Melter3,"5,182.00",1,"14,735.00","1,020.00",0.00,"7,280.00","6,435.00","14,735.00","14,735.00"
S42465,2020-07-13 02:22:00,Melter4,"5,182.00",1,"13,725.00","1,020.00",0.00,"10,000.00","2,705.00","13,725.00","13,725.00"

In [101]:
log_scrap_jul.groupby('BATCHID').last().head(3)

,_Timestamp,MachineName,Alloy,casttype,TOTAL_WEIGHT_kg,Prime_kg,Molten_kg,RSI_kg,Scrap_kg,cold_total,TOTAL-MOLTNE
BATCHID,,,,,,,,,,,
S42464,2020-07-13 02:10:00,Melter4,"5,182.00",1,"19,420.00","1,020.00","6,400.00","6,000.00","6,000.00","19,420.00","13,020.00"
S42464-1,2020-07-13 01:22:00,Melter3,"5,182.00",1,"20,735.00","1,020.00","6,000.00","7,280.00","6,435.00","20,735.00","14,735.00"
S42465,2020-07-13 04:31:00,Melter4,"5,182.00",1,"20,025.00","1,020.00","6,300.00","10,000.00","2,705.00","20,025.00","13,725.00"

In [129]:
log_scrap_jul_f=log_scrap_jul.groupby('BATCHID').first().reset_index()

In [74]:
mes_scrap=pd.read_excel('C:\\Users\\limsun\\OneDrive - Novelis Inc\\Desktop\\자료\\BTU 자료 _ FROM 김차장님\\Scrap_투입현황(7.13~26).xlsx')

In [148]:
pivot_scrap=pd.pivot_table(mes_scrap,index='BATCHNO',columns='MTRLTYPE',values='CHRGWGT')
pivot_scrap=pivot_scrap.fillna(0)
pivot_scrap.reset_index(inplace=True)
#pivot_scrap.set_index('BATCHNO',inplace=True)
pivot_scrap['sum_scrap']=np.sum(pivot_scrap,axis=1)
pivot_scrap['sum_scrap'].median()

10255.0

In [143]:
merged=log_scrap_jul_f.merge(pivot_scrap,left_on='BATCHID',right_on='BATCHNO',how='inner',sort=False).drop('BATCHNO',axis=1)

In [145]:
merged.to_excel('merged_log_mes.xlsx')

In [134]:
merged.to_excel('comparision_MES_SCRAP_data with Log.xlsx')